.projects_grid {
  display: grid;
  max-width: 90%;
  margin: 1;
  display: grid;
  flex-direction: row;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(18em, 450px));
  grid-gap: 2em;
  padding-top: 20px;
  align-items: stretch;
}

.Projects{
  background: transparent;
  min-height: 90vh;
  display:inline-flex;
  flex-direction: column;
  width: 100%;
  align-items : center;
  justify-content: center;
  padding-left: 10px;
}
