.nav-bar{
  position: sticky;
  top: 0;
  margin: auto;
  z-index: 100;

  display: flex;
  width: 100% !important;
  height: 80px !important;
  min-width: 100vb;
  left: 0 !important;
  top: 0 !important;
  padding: 0rem 1.25rem;
  justify-content: space-between;
  /* align-items: right; */
  flex-shrink: 0;
  background: #FFF;
  opacity: 0.7;
  box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.5);
}

.nav-button-container {
  margin-right: 1.5em;
  display: flex;
  padding-left: 20px;
}

#nav-bar-button{
  margin-left: 1.5em;
  color: darkgreen;
  font-size: 20;
  font-weight: 400;
  word-wrap: break-word;

  :hover{
    transform: translateY(-7px);
  }
}

#nav-bar-button:hover{
  transform: translateY(-3px);
  transition: all 0.6s;
}


@media (max-width: 600px) {
  .nav-button-container {
    display: none;
    flex-direction: column;
    align-items: center;
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  #nav-bar-button{
    margin: 0.5em 0;
  }
}

.nav-bar-offset{
  height:80px;
}

.emailme-button-wrapper{
  color:darkgreen;
  height: 100%;
  width: 30ox;
  align-items: center;
  border-color: red;
  align-items: center;
  position:relative;
  display:flex;
  z-index:999;
  padding-right: 20px;
}

.EmailMe-Button{
  opacity: 1 !important;
  background-color: #EA4C89;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: 40px;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  transition: color 100ms;
  vertical-align: baseline;
  touch-action: manipulation;
}

.EmailMe-Button:hover {
  background-color: #e9226e;
  transform: scale(1.2);
  transition: all 1s;
  -webkit-transition: all 0.5s ease-in-out;

}