.text-wrapper{
    text-align:center;
    vertical-align: middle;
}

.greeting-text{
    font-size:75px;
}

.roles-text{
    font-size:30px;
}

.home{
    display:inline-flex;
    min-height: 90vh;
    width: 100%;
    align-items : center;
    justify-content: center;
}
