.About{
  background: transparent;
  min-height: 90vh;
  display:inline-flex;
  flex-direction: column;
  width: 100%;
  align-items : center;
  justify-content: center;
}

.about_text{
  font-size:20px;
  font-weight: 400;
  max-width: 90vh;
  text-align: center;
}

.profile_image{
  padding:30px;
}

.about_contact_wrapper{
  padding-top:40px;
  display:flex;
  flex-direction: row;
  gap: 50px;
}

#contact_icon{
  transform: scale(2);
  color:white;
  -webkit-font-smoothing: antialiased;
}

#contact_icon:hover {
  color: #60affc;
  transform: scale(3);
  transition: all 0.3s;
}

.profile-image-wrapper{
  padding-top:20px;
  padding-bottom:20px;
}

.spacer{
  padding-top:100px;
}