html {
  /* overflow: hidden; */
  height: 100%;
  scroll-behavior: smooth;
}

body {
  /* overflow-y: scroll; */
  height: auto;
}

.app {
  justify-content: center;
  width: 100%;
  color: #FFF;
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  background-image: url("/src/assets/download.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.content-wrapper {
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  align-items: space-between;
}

.section_title{
  font-size:60px;
  padding-bottom:20px;
}

#page{
  min-height: 90vh;
}